@inherits LayoutComponentBase
@using TO_BDD.Models
@using TO_BDD.Providers
@using TO_BDD.Services
@inject LoginStateProvider _loginState
@inject NavigationManager _nav

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<PageTitle>Księgarnia</PageTitle>

<MudAppBar Color="Color.Primary" Fixed="false">
    <div class="margin-right: 20px">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <MudIcon Icon="@Icons.Filled.Book" Style="@($"color:{Colors.Purple.Lighten5};")" />
            <MudText>All Books</MudText>
        </NavLink>
    </div>
    <div class="margin-right: 20px">
        <NavLink class="nav-link" href="ProposedBooks" Match="NavLinkMatch.All">
            <MudIcon Icon="@Icons.Filled.Book" Style="@($"color:{Colors.Purple.Lighten5};")" />
            <MudText>Recomended Books</MudText>
        </NavLink>
    </div>
    <div class="margin-right: 20px">
        <NavLink class="nav-link" href="Cart" Match="NavLinkMatch.All">
            <MudIcon Icon="@Icons.Filled.ShoppingCart" Style="@($"color:{Colors.Purple.Lighten5};")" />
            <MudText>Cart</MudText>
        </NavLink>
    </div>
</MudAppBar>

<div class="page">
    <main>
        <div class="top-row px-4">
            @if(_loginState.IsUserLoggedIn()) {
                <MudButton Variant="Variant.Filled" OnClick="Logout">Logout</MudButton>
            }
        </div>
        <CascadingValue Value="@cartService">
            @Body
        </CascadingValue>
    </main>
</div>

@code{
    private CartService cartService = new CartService();
    private void Logout() {
        _loginState.LogUserOut();
        _nav.NavigateTo("/login");
    }
}
